.login {
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;

}


img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
  width: 20%;
  border-radius: 50%;
}

form.signin-form {
  max-width: 350px;
  margin: auto;
}

input[type="email"],
input[type="password"] {
  background: #e5efec;
}

button.signin-btn {
  color: white;
  background: black;
  width: 100%;
  margin-bottom: 1.2rem;
}

.forgot-password {
  margin-top: 2%;
  margin-bottom: 10%;
}

.link-change {
  color: #fff !important;

}

.p-help {
  margin-bottom: -.8%;
}

.need-help {
  text-decoration: none;
}

a {
  color: white;
}

.span-right {
  float: right;
}